@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* background-colors ****************/
/* Font-colors ****************/
/* Sizes-margin ****************/
/* Sizes-padding ****************/
body {
  font-family: lato;
  color: #5c48f1;
  min-height: 100vh;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  background: none;
  color: inherit;
  text-decoration: none;
  list-style-type: none;
  font: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

:root {
  --fs-xl: 3rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}

h2 {
  /* minimum value */
  /* preferred value = 4% viewport width */
  /* maximum value */
  font-size: clamp(1.5rem, 4vw, 2.25rem);
}

p {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

body {
  font-family: "Poppins", sans-serif;
}

* {
  transition: 0.2s;
}

h1 {
  padding: 0.6em 1.2em;
  text-align: center;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.checkBoxes {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  text-align: center;
  gap: 1rem;
  padding: 0.4em 0.8em;
}
.checkBoxes .checkBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.25;
  border-radius: 10px;
  flex-basis: 200px;
  border: 4px solid #e0e0e1;
  padding: 0.4em 0.8em;
  position: relative;
  min-height: 200px;
}
.checkBoxes .checkBox__icon {
  width: 120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
.checkBoxes .checkBox__check {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0;
  align-self: flex-start;
  border-radius: 5px;
}
.checkBoxes .checkBox__check .check {
  width: 16px;
  height: 16px;
  border-color: #5c48f1;
}

.checkBoxes .checkBox:has(:checked) {
  border-color: #5c48f1;
  background-color: #eeecfd;
}
.checkBoxes .checkBox__check {
  padding: 2px;
  border: 3px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e0e0e1;
}
.checkBoxes .checkBox__check:has(:checked) {
  border-color: #5c48f1;
}
.checkBoxes .checkBox__check .check {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  position: relative;
  appearance: none;
}
.checkBoxes .checkBox__check .check::after {
  content: "";
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
.checkBoxes .checkBox__check .check:hover::after {
  background-color: #dbd6fc;
}
.checkBoxes .checkBox__check .check:checked::after {
  background-color: #5c48f1;
}

footer {
  margin: 2rem 0;
}
footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p img {
  display: inline;
  width: 25px;
}

/*# sourceMappingURL=main.css.map */
