/* background-colors ****************/
// $bg: rgb(166, 146, 238);
// $bg: #fff;
// $alt-bg: #ce181e;
$color: #5c48f1;
$bg: #eeecfd;
$border-color: #e0e0e1;

/* Font-colors ****************/
$font: lato;
$text: #5c48f1;
// $alt-text: #00b289;
// $main-text: #49c0b6;

/* Sizes-margin ****************/
$xl-mg: 3.5rem;
$lg-mg: 2rem;
$md-mg: 1.5rem;
$sm-mg: 1.125rem;

/* Sizes-padding ****************/
$lg-pd: 0.8em 1.6em;
$md-pd: 0.6em 1.2em;
$sm-pd: 0.4em 0.8em;

$radius: 10px;
